* {
    margin: 0;
    padding: 0;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 700;
}

:root {
    --main-publicidad: #106242;
    --main-postulaciones: #d5e9e2;
    --main-sombreado: rgb(157, 155, 155);
    --main-menu: #15754b;
    --main-footer: rgb(153, 152, 152);
    --hover-footer: rgb(108, 108, 108);
}

a {
    text-decoration: none;
    color: rgb(93, 91, 91);
}

header {
    width: 100%;
    height: 80px;
    display: flex;
    flex-flow: row wrap;
    box-shadow: 2px 2px 7px var(--main-sombreado);
}

/*LOGO HOME*/
.logo {
    width: 22%;
    height: 80px;
    margin-right: 25px;
    display: flex;
    flex-flow: row wrap;
    justify-content: end;
    align-items: center;
}

.logo a img {
    width: 70px;
    height: 70px;
}

/*MENU*/
nav {
    width: 35%;
    height: 80px;
}

nav ul {
    width: 100%;
    height: 80px;
    list-style: none;
    display: flex;
    gap: 50px;
}

nav ul li {
    width: 100%;
    height: 80px;
    display: flex;
    flex: 0;
    align-items: center;

}

nav ul li a.experiencia {
    width: 100%;
    height: auto;
    display: flex;
    flex-flow: row wrap;
}

nav ul li a {
    font-size: 0.83rem;
    font-weight: 700;

}

nav ul li a:hover {
    line-height: 70px;
    color: var(--main-menu);
    border-bottom: 5px solid var(--main-menu);
}

/*LOCALIZACION TIENDAS*/
.localizador {
    width: 25%;
    height: 80px;
    text-align: end;
    display: flex;
    justify-content: end;
    align-items: center;
}

.localizador a {
    color: black;
}

.localizador a:hover {
    color: rgb(93, 91, 91);
}

.localizador a i {
    padding-right: 5px;
}

/*BODY*/
.contenedor {
    width: 100%;
    height: auto;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

.viaje {
    width: 73%;
    height: 370px;
    background-color: var(--main-publicidad);
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.imagen {
    width: 50%;
    height: 100%;
    max-height: 100%;
    display: flex;
    flex-wrap: wrap;
}

.imagen img {

    width: 100%;
    height: 100%;
}

.publicidad a {
    color: white;
}

.botonUno {
    border: 1px solid white;
    margin-top: 15px;
    padding: 5px;
    border-radius: 50px;
}

.publicidad h2 {
    margin: 0 50px 15px 50px;
    font-size: 1.7rem;
}

.publicidad p {
    font-size: 1.2rem;
    margin: 15px 0 15px 0;
    font-weight: 400;
}

.publicidad .botonUno:hover {
    background: #d5e9e22b;
}

.publicidad {
    width: 50%;
    height: 370px;
    color: white;
    text-align: center;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

.postulaciones {
    width: 73%;
    height: auto;
    margin: 30px 0 30px 0;
    background-color: var(--main-postulaciones);
    display: flex;
}

.contPostulacion {
    width: 50%;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
}

.contImagen {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.contPostulacion h2 {
    font-size: 3rem;
    text-align: center;
    margin: 15px 40px 15px 40px;
    color: var(--main-menu);
}

.contPostulacion p {
    margin: 15px 0 15px 0;
    color: var(--main-menu);
    text-align: center;
    font-size: 1.2rem;
    font-weight: 400;
}

.botondos {
    color: var(--main-menu);
    padding: 5px;
    border: 1px solid var(--main-menu);
    border-radius: 50px;
}

footer {
    width: 100%;
    height: auto;
    box-shadow: 2px 2px 5px var(--main-sombreado);
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;

}

.contFooter1 {
    width: 80%;
    height: auto;
    margin-top: 30px;
    padding: 30px;
    display: flex;
    flex-flow: row wrap;
    justify-content: start;
}

.contFooter2 {
    width: 50%;
    height: auto;
    padding-left: 150px;
    display: flex;
    justify-content: start;

}

.afip {
    width: 30%;
    height: 80px;
    padding-right: 50px;
    display: flex;
    justify-content: end;
}

hr {
    width: 64%;
    text-align: center;
}

.nosotros,
.ipactoSocial,
.atencionCliente,
.experiencia {
    width: 24%;
    height: auto;
    display: flex;
    flex-flow: column wrap;

}

.nosotros a,
.ipactoSocial a,
.atencionCliente a,
.experiencia a {
    font-size: 0.90rem;
    font-weight: 550;
    margin: 15px 0;
    color: var(--main-footer);
}

.nosotros a:hover,
.ipactoSocial a:hover,
.atencionCliente a:hover,
.experiencia a:hover {
    color: rgb(49, 48, 48);
}


.redesSociales {
    width: 100%;
    height: auto;
    font-size: 35px;
    margin: 20px 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.redesSociales a i {
    margin: 25px;
}

.contIfoWeb {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}


.contIfoWeb a:not(#mapa) {
    margin-right: 5px;
    padding-right: 5px;
    border-right: 2px solid var(--main-footer);
}

.contIfoWeb a {
    color: var(--main-footer);
    font-weight: 100;
}

.contIfoWeb a:hover {
    color: var(--hover-footer);
}

.copy {
    width: 100%;
    height: auto;
    color: #bec0bf;
    font-size: 0.8rem;
    font-weight: 0;
    margin-top: 10px;
    display: flex;
    flex-flow: column wrap;
    text-align: center;
}

.copyP2 {
    font-size: 0.65rem;

}

.open,
.close {
    display: none;
    font-size: 30px;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .viaje {
        width: 100%;
        height: auto;
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
    }

    .imagen {
        width: 100%;
        height: auto;
    }

    .publicidad {
        width: 100%;
        height: auto;
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        padding: 30px 0 30px 0;
    }

    .publicidad a:not(.botonUno) {
        width: 100%;
        height: auto;
    }

    .postulaciones {
        width: 100%;
        height: auto;
        display: flex;
        flex-flow: column wrap;
        align-items: center;
    }

    .contFooter1 {
        width: 100%;
        height: auto;
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-content: center;
        align-items: center;
    }

    .contFooter2 {
        width: 100%;
        height: auto;
        display: flex;
        flex-flow: column wrap;
        margin-bottom: 30px;
    }

}