* {
    margin: 0;
    padding: 0;
    font-family: italic,Helvetica, Arial, sans-serif;
    font-weight: 700;
}

:root {
    --main-publicidad: #106242;
    --main-postulaciones: #d5e9e2;
    --main-sombreado: rgb(157, 155, 155);
    --main-menu: #15754b;
    --main-footer: rgb(153, 152, 152);
    --hover-footer: rgb(108, 108, 108);
}

a {
    text-decoration: none;
    color: rgb(93, 91, 91);
}

header {
    width: 100%;
    height: 80px;
    display: flex;
    flex-flow: row wrap;
    box-shadow: 2px 2px 7px var(--main-sombreado);
}

/*LOGO HOME*/
.logo {
    width: 22%;
    height: 80px;
    margin-right: 25px;
    display: flex;
    flex-flow: row wrap;
    justify-content: end;
    align-items: center;
}

.logo a img {
    width: 70px;
    height: 70px;
}

/*MENU*/
nav {
    width: 40%;
    height: 80px;
}

nav ul {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    list-style: none;
}

nav ul li {

    margin: 0 35px 0 0;
}

nav ul li a {
    color: black;
}

nav ul li a:hover {
    line-height: 80px;
    padding: 0 0 24px;
    color: var(--main-menu);
    border-bottom: 5px solid var(--main-menu);
}

.hamburguesa {
    width: 5%;
    height: auto;
    visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*LOCALIZACION TIENDAS*/
.localizador {
    width: 17%;
    height: 80px;
    text-align: end;
    display: flex;
    justify-content: end;
    align-items: center;
}

.localizador a {
    color: black;
}

.localizador a:hover {
    color: rgb(93, 91, 91);
}

.localizador a i {
    padding-right: 5px;
}

/*BODY*/
.contenedor {
    width: 100%;
    height: auto;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

.viaje {
    width: 73%;
    height: 370px;
    background-color: var(--main-publicidad);
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.imagen {
    width: 50%;
    height: 100%;
    max-height: 100%;
    display: flex;
    flex-wrap: wrap;
}

.imagen img {

    width: 100%;
    height: 100%;
}

.publicidad a {
    color: white;
}

.botonUno {
    border: 1px solid white;
    margin-top: 15px;
    padding: 5px;
    border-radius: 50px;
}

.publicidad h2 {
    margin: 0 50px 15px 50px;
    font-size: 1.7rem;
}

.publicidad p {
    font-size: 1.2rem;
    margin: 15px 0 15px 0;
    font-weight: 400;
}

.publicidad .botonUno:hover {
    background: #d5e9e22b;
}

.publicidad {
    width: 50%;
    height: 370px;
    color: white;
    text-align: center;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

.postulaciones {
    width: 73%;
    height: auto;
    margin: 30px 0 30px 0;
    background-color: var(--main-postulaciones);
    display: flex;
}

.contPostulacion {
    width: 50%;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
}

.contImagen {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.contImagen img {
    display: flex;
    max-width: 100%;
}

.contPostulacion h2 {
    font-size: 3rem;
    text-align: center;
    margin: 15px 40px 15px 40px;
    color: var(--main-menu);
}

.contPostulacion p {
    margin: 15px 0 15px 0;
    color: var(--main-menu);
    text-align: center;
    font-size: 1.2rem;
    font-weight: 400;
}

.botondos {
    color: var(--main-menu);
    padding: 5px;
    border: 1px solid var(--main-menu);
    border-radius: 50px;
}

footer {
    width: 100%;
    height: auto;
    box-shadow: 2px 2px 5px var(--main-sombreado);
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;

}

.contFooter1 {
    width: 80%;
    height: auto;
    margin-top: 30px;
    padding: 30px;
    display: flex;
    flex-flow: row wrap;
    justify-content: start;
}

.contFooter2 {
    width: 60%;
    height: auto;
    padding-left: 150px;
    display: flex;
    justify-content: start;

}

.afip {
    width: 20%;
    height: 80px;
    padding-right: 50px;
    display: flex;
    justify-content: end;
}

hr {
    width: 64%;
    text-align: center;
}

.tituloFooter {
    width: 93%;
    height: auto;
    text-align: start;
    font-size: 1rem;
    font-weight: 900;
}

.menuFooter ul li,
.menuFooter2 ul li,
.menuFooter3 ul li,
.menuFooter4 ul li {
    width: 80%;
    height: auto;
    display: flex;
    flex-flow: column wrap;
    list-style: none;
}

.menuFooter ul li a,
.menuFooter2 ul li a,
.menuFooter3 ul li a,
.menuFooter4 ul li a {
    font-size: 0.90rem;
    font-weight: 550;
    margin: 15px 0;
    color: var(--main-footer);
}

.menuFooter ul li a:hover,
.menuFooter2 ul li a:hover,
.menuFooter3 ul li a:hover,
.menuFooter4 ul li a:hover {
    color: rgb(49, 48, 48);
}


.redesSociales {
    width: 100%;
    height: auto;
    font-size: 35px;
    margin: 20px 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.redesSociales a i {
    margin: 25px;
}

.contIfoWeb {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}


.contIfoWeb a:not(#mapa) {
    margin-right: 5px;
    padding-right: 5px;
    border-right: 2px solid var(--main-footer);
}

.contIfoWeb a {
    color: var(--main-footer);
    font-weight: 100;
}

.contIfoWeb a:hover {
    color: var(--hover-footer);
}

.copy {
    width: 100%;
    height: auto;
    color: #bec0bf;
    font-size: 0.8rem;
    font-weight: 0;
    margin-top: 10px;
    display: flex;
    flex-flow: column wrap;
    text-align: center;
}

.copyP2 {
    font-size: 0.65rem;

}

.ocultarDown {
    visibility: hidden;
}

.mostrar {
    max-height: 700px !important;
}

.mostrarMenu{
    visibility: visible;
}

.localizador .barrMenu{
    display: none;
}



@media screen and (max-width: 768px) {

    /*menu*/
    header {
        width: 100%;
        height: 80px;
        position: fixed;
        background-color: white;
        display: flex;
        justify-content: end;
    }

    .logo {
        width: 20%;
        height: auto;
        margin-right: 75%;
        justify-content: start;
    }

    .hamburguesa {
        font-size: 25px;
        visibility: visible;
        cursor: pointer;
    }

    nav {
        width: 90%;
        height: 100%;
        background-color: white;
        visibility:hidden;
        position: fixed;
        margin-top: 80px;
        z-index: 1;
    }

    nav ul {
        width: 90%;
        height: auto;
        margin: 20px 0;
        display: flex;
        flex-flow: column wrap;
        align-items: start;
    }

    nav ul li {
        margin: 30px 0;
    }

    nav ul li a {
        width: 90%;
        height: auto;
        margin: 50px;
    }

    nav ul li a:hover {
        line-height: none;
        padding: 0;
        border-bottom: none;
    }

    .localizador {
        width: 80%;
        height: auto;
        visibility: hidden;
        z-index: 1;
        margin-top: 350px;
        display: flex;
        flex-flow: column wrap;
        align-items: start;
        justify-content: start;
    }
    .localizador .barrMenu{
        width: 80%;
        height: auto;
        margin-bottom: 20px;
    }
    .viaje {
        width: 100%;
        height: auto;
        margin-top: 80px;
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
    }

    .imagen {
        width: 100%;
        height: auto;
    }

    .publicidad {
        width: 100%;
        height: auto;
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        padding: 30px 0 30px 0;
    }

    .publicidad a:not(.botonUno) {
        width: 100%;
        height: auto;
    }

    .postulaciones {
        width: 100%;
        height: auto;
        display: flex;
        flex-flow: column-reverse wrap;
        align-items: center;
    }

    .contPostulacion {
        width: 100%;
        height: auto;
    }

    .contPostulacion h2 {
        font-size: 1.85rem;
    }

    .contPostulacion p {
        font-size: 1.1rem !important;
    }

    .contPostulacion .botondos {
        margin: 30px 0;
    }

    .contFooter1 {
        width: 100%;
        height: auto;
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-content: center;
        align-items: center;
    }


    .tituloFooter {
        width: 100%;
        height: auto;
        font-size: 0.75rem;
        font-weight: 100;
    }

    .nosotros,
    .ipactoSocial,
    .atencionCliente,
    .experiencia {
        margin: 0 0 40px 0;
    }

    .menuFooter ul li,
    .menuFooter2 ul li,
    .menuFooter3 ul li,
    .menuFooter4 ul li {
        width: 100%;
        height: auto;
        display: flex;
        flex-flow: column wrap;

    }

    .menuFooter,
    .menuFooter2,
    .menuFooter3,
    .menuFooter4 {
        max-height: 0;
        overflow: hidden;
    }

    .ocultarDown {
        visibility: visible;
        cursor: pointer;
    }

    .contFooter2 {
        width: 100%;
        height: auto;
        display: flex;
        flex-flow: column wrap;
        align-content: start;
        margin-bottom: 30px;
    }

    .afip {
        width: 100%;
        height: auto;
        margin-left: 180px;
        display: flex;
        justify-content: start;
    }

    .menu,
    .menu2,
    .menu3,
    .menu4 {
        float: right;
    }

    .contImagen {
        width: 100%;
        height: auto;
        display: flex;
        max-width: 100%;
    }
    .contIfoWeb{
        width: 90%;
        height: auto;
    }
    .copy {
        width: 100%;
        height: auto;
        text-align: center;
        font-size: 0.7rem;
    }

    .copy .copyP2 {
        width: 70%;
        text-align: center;
        display: flex;
        flex-flow: row wrap;
        align-content: center;
        font-size: 0.5rem;
    }
}